---
layout: page
title: "About"
description: "Graduate Entrance Examing!"
header-img: "img/bg-SOLO.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>Graduate Entrance Examing!<br>
        </p></blockquote>


    <p>Hello, Here is <strong>Kylin Chen</strong>. I'm graduated from Computer Science Department in <a href="http://en.sjtu.edu.cn/">Shanghai Jiao Tong University</a>.</p>

    <img src="http://kylinhub.oss-cn-shanghai.aliyuncs.com/2021-08-31-about_valiant.jpg" alt="me"height="535" width="800"/>

    <heading>Selected Projects: </heading>

    <ol>
                                <li>
                                    <code>mPose3D</code> [<a href="https://github.com/KylinC/mPose3D">Code</a>]
                                    <p>
                                        mPose3D aims at human pose estimation and implements standard python API from Texas Instrument (TI) mmWave hardware, such as xWR14xx, xWR16xx and xWR68xx.
                                    </p>
                                </li>
                                <li>
                                    <code>mmVital-Signs</code> [<a href="https://github.com/KylinC/mmVital-Signs" >Code</a>]
                                    <p>
                                        Based on single Periodic linearly-increasing frequency chirps (known as Frequency-Modulated Continuous Wave (FMCW)), mmVital-Signs can actively measure human breathing and heartbeat frequency, the project can be implemented in a production environment now. 
                                    </p>
                                </li>
                                <li>
                                    <code>FPS-Game</code> [<a href="http://kylinchen.cn/FPS-Game/" >Code</a>]
                                    <p>
                                        FPS-Game is a First-person shooting game created by Unity. The game has been released on Windows platform.ß
                                    </p>
                                </li>
                                <li>
                                    more projects are available on my <a href="https://github.com/KylinC" >Github</a>.
                                </li>
                            </ol>


    <p>You can contact me by <strong>k1017856853@icloud.com</strong>, or just give comments below. </p>

    <!-- <h5>Welcome to Kylin's pages!</h5> -->


</div>

<!-- English Version -->
<!-- <div class="en post-container">


</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

